<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.anilabha.monitorhdmi</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/Shared/fix-refresh-rate-screen/monitor-hdmi.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>LimitLoadToSessionType</key>
    <array>
        <string>LoginWindow</string>
        <string>Aqua</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/monitor-hdmi.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/monitor-hdmi-err.log</string>
</dict>
</plist>